body {
    margin: 0;
    padding: 0;
    background-color: #4d6581;
    color: #fbf9f9;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    margin: 15px;
}
main {
    margin: 15px;
}

#tempandcondition {
    margin-bottom: 10px;
}

.hourlyTemp {
    border: #e0e4ea 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 0;
    overflow-x: auto;
}

.hourlyTempHide {
    display: none;
}

.weatherCond {
    border: #e0e4ea 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 0;
    overflow-x: auto;
}

.weatherCondHide {
    display: none;
}
#temperature ,#weather {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background-color: #7a94b1;
    font-size: larger;
    font-weight: 100;
    color: rgb(244, 245, 249);
}

.hour, .temp, .hours {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;        
    gap: 10px; 
    flex-flow: row;
}

.hour li, .temp li, .hours li {
    padding: 15px;
    flex: 1 1 90px; 
    text-align: center;
    border-radius: 5px;
    width: 20px;
}

.windSpeed, .windDirection, .humidity, .rain, .shower, .snow {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;        
    gap: 10px; 
    flex-flow: row;
}

.windSpeed li, .windDirection li, .humidity li, .rain li, .shower li, .snow li {
    padding: 15px;
    flex: 1 1 90px; 
    text-align: center;
    border-radius: 5px;
    width: 20px;
}

.listHeading{
    width: 50px;
}

a {
    margin: 6px;
    color: #f5e3bd;
}

@media screen and (min-width: 300px) and (max-width: 844px) {
    #temperature, #weather {
        width: 190px;
    }
}